<%= link_to 'Back', root_path %>
<div class="bg-light card px-3 pt-2 mx-auto" style="width: 34rem">
  <div class="card-body">
    <h3 class="card-title text-center">About Us</h3>
    <p>Movie Information System is created so that users can book movie tickets and rate movies as well</p>
  </div>
</div>
