<%= link_to 'Back', root_path %>
<div class="bg-light card px-3 pt-2 mx-auto" style="width: 40rem">
  <div class="card-body">
    <h3 class="card-title text-center">Contact Us</h3>
    <p class="text-center">We can be contacted on the following email-id: <strong>bot@movieinfo.com</strong></p>
  </div>
</div>
