<div class="container"> 
  <ul class="float-right mt-2">
    <%= link_to 'Home', root_path,  class: " text-white ml-2" %>
    <%= link_to 'About Us', about_path,  class: " text-white ml-2" %>
    <%= link_to 'Contact Us', contact_path,  class: " text-white ml-2" %>
  </ul>
  <p class="mt-2 text-white  d-inline-block" >&#9400;Coyright 2017-2018. Movie Information System. All rights reserved</p>
</div>


